# Framework folders

/log
/tmp

# Local configuration

/.env
/.envrc
/.rbenv-vars
/.rbenv-version
/.ruby-gemset
/.ruby-version
/.rvmrc

# Build and tool artifacts

*.DS_Store
*.iml
/.bundle
/bundle
.idea
.vscode
.byebug_history
.ipynb_checkpoints

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
coverage
.nyc_output
jspm_packages

# Optional npm cache directory
.npm

.DS_Store

# Compiled
dest

# Misc
env-prod.sh
